@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg: hsl(0, 0%, 8%);
    --container: hsl(0, 0%, 12%);
    --links: hsl(0, 0%, 20%);
    --text-white: hsl(0, 0%, 100%);
    --text-green: hsl(75, 94%, 57%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    width: 320px;
    border-radius: 10px;
    background: var(--container);
}

img {
    display: block;
    margin: auto;
    width: 100px;
}

.name {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.name h1 {
    font-size: 24px;
    color: var(--text-white);
}

.name p {
    color: var(--text-green);
}

.metadata {
    font-size: 14px;
    color: hsl(0, 0%, 80%);
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.links-1, .links-2, .links-3, .links-4 {
    text-align: center;
    padding: 12px 8px;
    transition: background 0.2s;
    border-radius: 8px;
    background: var(--links);
}

.links-1:hover, .links-2:hover, .links-3:hover, .links-4:hover {
    background: var(--text-green);
    

    a {
        color: var(--bg);
    }
}

a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-white);
}